<html>
  <head>
    <title>Bill Me</title>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
      <h1>Bill Me - Find Total Amount from Bill</h1>
        <form id="uploadBill" enctype="multipart/form-data" action="/getBillAmount" method="post">
          <input type="file" name="bill" id="selectBill" /><br/><br/>
          <input type="submit" value="Submit"><br/><br/>
          <span id="output"></span>
        </form>
  </body>
</html>